<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated slack -->
      <package
            uri="slack"
            class="tdt4250.a1.slack.SlackPackage"
            genModel="model/slack.genmodel"/>
   </extension>

</plugin>
